@model bayosi.Models.kullanici

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>kullanici</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.kullaniciAdi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kullaniciAdi)
                @Html.ValidationMessageFor(model => model.kullaniciAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.parola, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.parola)
                @Html.ValidationMessageFor(model => model.parola)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tcNo, "tcNo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tcNo", String.Empty)
                @Html.ValidationMessageFor(model => model.tcNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
