@model bayosi.Models.kullanici

@{
    ViewBag.Title = "giris";
    Layout =  "~/Views/_Layout.cshtml";
    
}

<h2>@ViewBag.HATA</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
  
    <div class="form-horizontal">
        <body background="~/content/123.jpg">
            <hr />
            @Html.ValidationSummary(true)
            <div align="center">

                <a href="~/Home/Index"><img src="~/Content/30.png" width=180 height=180></a>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.kullaniciAdi, new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.kullaniciAdi)
                    @Html.ValidationMessageFor(model => model.kullaniciAdi)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.parola, new { @class = "control-label col-md-5" })
                <div class="col-md-5">
                    @Html.PasswordFor(model => model.parola)
                    @Html.ValidationMessageFor(model => model.parola)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    <input type="submit" value="giris yap" class="btn btn-default" />
                    <p><a href="~/yonetici/giris" class="btn btn-primary btn-large">yönetici giriş sayfası &raquo;</a></p>

                </div>

            </div>
        </body>
        </div>
    
}