@model IEnumerable<bayosi.Models.kullanici>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("kullanici ekle", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.parola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personel.isim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.parola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personel.isim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.kullaniciAdi }) |
            @Html.ActionLink("Details", "Details", new { id=item.kullaniciAdi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.kullaniciAdi })
        </td>
    </tr>
}

</table>
