@model bayosi.Models.meslek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>meslek</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.meslek_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meslek_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meslek_açiklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meslek_açiklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.meslek_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
