@model bayosi.Models.yonetici

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>yonetici</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.yoneticiAd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
