@model bayosi.Models.mesaj

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mesaj</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mesaj_baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mesaj_baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerik)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("mesajlara geri dön", "Index")
</p>
