@model bayosi.Models.tedavi

@{
    ViewBag.Title = "Delete";
}

<h2>silme</h2>

<h3>silmek istediğinizden emin misiniz ?</h3>
<div>
    <h4>tedavi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hayvan.hayvan_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hayvan.hayvan_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilac.ilac_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilac.ilac_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personel.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personel.isim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="sil " class="btn btn-default" /> |
            @Html.ActionLink("Listeye geri dön", "Index")
        </div>
    }
</div>
