@model bayosi.Models.tedavi

@{
    ViewBag.Title = "Details";
}

<h2>Detaylar</h2>

<div>
    <h4>tedavi</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hayvan.hayvan_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hayvan.hayvan_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilac.ilac_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilac.ilac_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personel.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personel.isim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("düzenle", "Edit", new { id = Model.tedavi_id }) |
    @Html.ActionLink("listeye geri dön", "Index")
</p>
